main, body {
    margin:0px;
    padding:0px;
    background-color: #FEFDF3;
}


header {
    margin: 60px 80px 0px;
    display: flex;
    justify-content:end;
}

/* main */


.intro {
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 25px;
}

.about-text {
    margin-bottom: 50px;
}

h1 {
    font-family: Hoss Round;
    font-weight: 100;
    font-size: 25px;
}

h2{
    font-size: 18px;
    font-family: hoss round;
    margin-bottom: 60px;
    font-weight: 400;
}

hr {
    background-color: black;
    height: 3px;
    border: none;
    margin: 0px;
    padding:0px;
}


span {
    color: black;
    font-weight: 400;
}

.button {
    color: black;
    font-family: hoss round;
    font-weight: 300;
    font-size: 18px;
}

.buttons a{
    margin-right: 10px;
}

.about,.work,.services {
    margin: 80px 220px;
}







.work-link {
    text-decoration: none;
}


.work-link p  {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-top: 8px;
    font-family: helvetica Neue;
    font-weight: 400;
}

h4{
    font-size: 25px;
    color: black;
    font-family: helvetica Neue;
    margin-bottom: 0px;
    text-decoration: underline;

}

a:visited {
    color: black;

}

a:hover {
    color: #0223F5;
}












.floater {
    position: fixed;
    margin: 40px;
    bottom:0;
}

.floater img {
    display: block;
    margin-top: 7px;
    width: 10%;
}




/* footer */


footer {
    display: flex;
    justify-content:space-between;
    margin: 10px 120px;
}

footer p{
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-weight: 400;
}





/* cursor */








/* Work pages */

.back-home {
position: relative;    font-family: hoss round;
    font-size: 20px;
    text-decoration: underline;
    color: black;
    top: 2rem;
    left: 2rem;
}

.section01 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;

}

.header-pf {
    font-family: hoss round;
    font-size: 40px;
    font-weight: 400;
}

.header2-pf {
    font-family: Helvetica Neue;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2%;

}

.subscr-pf {
    font-family: Helvetica Neue;
    font-size: 25px;
    margin-right: 25% ;
    margin-left: 25% ;
}

.sectionabout {
        margin: 80px 220px;
}

.h3title {
    font-family: hoss round;
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 20px;
}

.p {
    font-family: Helvetica Neue;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

.links {
    text-decoration:underline ;
    font-family: Helvetica Neue;
    font-weight: 400;
    font-size: 25px;
    display: block;
    margin: 0 0 25px;
}

video {
    width: 100%;

}


  /* kbs */
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }

    .gallery-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

 hr {
    background-color: #F4F2E4;
 }

 .hidden {
    display: none;
 }


/* styles for mobile devices */
@media (max-width: 767px) {

    .about,.work,.services {
        margin: 50px;
    }

    .section01 {
        margin-top: 18%;    
    }
    
    .header-pf {
        font-size: 35px;
        text-align: left;
        margin: 50px;
    }
    
    .header2-pf {
        font-size: 25px;
        text-align: left;
        margin: 50px;
    }

    .subscr-pf {
        text-align: left;
        margin: 50px;
    }
    
    
    .sectionabout {
            margin: 50px;
    }
    
    .hidden {
        display:block;
     }

    footer {
        margin: 0px 15px;
    }

    footer p{
        font-size: 18px;
    }
  }
  
  